.doctor-info {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  .doctor-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .doctor-info p {
    margin: 5px 0;
    font-size: 1rem;
    display: flex; /* Align key and value horizontally */
    justify-content: space-between; /* Separate key and value with space */
  }
  
  .doctor-info .key {
    font-weight: bold; /* Make the keys bold */
    margin-right: 10px; /* Add some spacing between key and value */
  }
  