

/* Sidebar Styles */
.sidebar {
  position: fixed;
  left: var(--margin);
  bottom: var(--margin);
  top: 90px;
  width: 220px;
  background: var(--secondary-color);
  border-bottom-left-radius: 20px;
  transition: 0.4s;
}

.sidebar ul li a {
  display: block;
  color: var(--primary-text-color);
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: 600;
  margin-bottom: 1px;
}

.sidebar ul li a.active {
  color: var(--primary-color);
}

.sidebar ul li:hover {
  background: rgba(0, 0, 0, 0.1);
  border-left: var(--primary-color) solid 5px;
}

.sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.sidebar ul li a span.title {
  display: inline-block;
}

.sidebar.collapse {
  width: 90px;
}

.sidebar.collapse ul li a {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.sidebar.collapse ul li a span.icon {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.sidebar.collapse ul li a span.title {
  font-size: 0.6rem;
  text-align: center;
}

.app-wrapper {
  position: fixed;
  top: 90px;
  left: 240px;
  bottom: var(--margin);
  right: var(--margin);
  padding: 2rem 1rem;
  background: #ffffff;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease;
}

.app-wrapper .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.collapse.sidebar {
  width: 90px;
}

.app-wrapper.collapse {
  left: 110px;
}